/* the following will make the dropdown menu disappear when we are on desktop */
.dropdown{
    display: none;
}

.list_of_pages ul{
    list-style-type: none;
    display: flex;
    justify-content: space-around;
}



/* this is for the grid layout */
.mainpage_body{
    display: grid;
    grid-template-areas:
    ". header header ." 
    "nav nav nav nav"
    ". aside main ."
    "footer footer footer footer";
    grid-template-columns: 1fr 1fr 2fr 1fr;
    grid-template-rows: 1fr 1fr 16fr 1fr;
}
