/* the following will make the dropdown menu disappear when we are on desktop */
.dropdown{
    display: none;
}

.list_of_pages ul{
    list-style-type: none;
    display: flex;
    justify-content: space-around;
}

/* changing font */
body{
    font-family:  Verdana;
}
/* fixing the title */

header ,nav{
    padding-top: 0.5em;
    margin-top: 0.5em;
    padding-bottom: 0.5em;
    margin-bottom: 0.5em;
}
footer{
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}


/* this is for the grid layout */
.mainpage_body{
    display: grid;
    grid-template-areas:
    "header header header header" 
    "nav nav nav nav"
    ". aside main ."
    "footer footer footer footer";
    grid-template-columns: 0.3fr 3fr 2fr 1fr;
    grid-template-rows: 0.5fr 0.5fr 16fr 0.5fr;
}

.index_main {
    border-right: #231942 dotted 5px;
}

.index_main {
    padding-right: 3em;
}

.index_main{
    height: 100vh;
}
.index_main .forborder{
    border-left: #9f86c0 10px solid;
}




/* now onto the project page */
/*  first we will look at the layout of this page */

.projects_body{
    display: grid;
    grid-template-areas:
    "header header" 
    "nav nav "
    "projects_aside projects_main"
    "footer footer ";
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 1fr 16fr 1fr;
}

.projects_image img {
    width: 100%;
    height: auto; 
}


.projects_image img:hover{
    opacity: 1;
    transform: scale(1);
}

.projects_image img:not(hover){
    opacity: 0.45;
    transform: scale(0.7);
    transition: transform 500ms ease-in-out, opacity 750ms ease-in-out;
}

.projects_element{
    overflow: hidden;
}



@media (min-width:2200px) {
.projects_element {
    display: flex;
    justify-content: space-between; /* This spreads the child elements to far ends */
    align-items: center; /* This vertically centers them in case they have different heights */
    overflow: hidden;
}


.projects_image{
    width: 60%;
}


.projects_content{
    max-width: 40%;
    right: 0;
    padding-right: 4em;
    border-left: #9f86c0 10px solid;
    padding-left: 2em;
}
}


@media (min-width:1000px) and (max-width:2200px) {
    .projects_body{
    grid-template-areas:
    "header " 
    "nav "
    "projects_main"
    " footer ";
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 16fr 1fr;
    }

    .projects_image{
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .projects_image img{
        width: 100%;
    }
    .projects_content{
        margin-top: 5em;
        font-size: 1.9em;
        font-family:  'Arial Narrow Bold';
        padding-left: 2em;     
    }
    .projects_content .border{
        padding-top: 0.3em;
        border-top: #9f86c0 10px solid;
    }

    .projects_element:nth-child(3) .projects_content{
        margin-top: 5em;
        margin-bottom: 3em;
    }
    
    .projects_element:nth-child(1) .projects_content,.projects_element:nth-child(2) .projects_content{
        padding-bottom: 2em;
        
    }
}


@media (max-width:1000px) {  
    .projects_body{
        grid-template-areas:
        "header " 
        "nav "
        "projects_main"
        " footer ";
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 16fr 1fr;
        }
    
        .projects_image{
            width: 100%;
            display: flex;
            justify-content: center;
        }
    
        .projects_image img{
            width: 100%;
        }
        .projects_content{
            margin-top: 5em;
            font-size: 1.9em;
            font-family:  'Arial Narrow Bold';
            padding-left: 2em;     
        }
    
        .projects_element:nth-child(3) .projects_content{
            margin-top: 5em;
            margin-bottom: 3em;
        }
        
        .projects_element:nth-child(1) .projects_content,.projects_element:nth-child(2) .projects_content{
            padding-bottom: 2em;
            
        }
        .projects_content{
        padding-top: 0.3em;
        border-top: #9f86c0 10px solid;
        }
        .projects_content{
            padding-right: 2em;
        }
}

/* this is the grid layout for the contact page */

.contact_body{
    display: grid;
    grid-template-areas:
    "header header header" 
    "nav nav nav"
    ". . ."
    "contact_aside contact_main ."
    ". . ."
    "footer footer footer ";
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr 1fr 3fr 7fr 3fr 1fr;
}


.report_body{
    display: grid;
    grid-template-areas:
    "header header header" 
    "nav nav nav"
    " report_main report_main report_main"
    "footer footer footer ";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 29fr 1fr;
}


.report_main{
    display: grid;
    grid-template-areas:
        "first_title"
        "Mainpage_title"
        "image_grid1"
        "Projectspage_title"
        "image_grid2"
        "Contactspage_title"
        "image_grid3"
        "Validation_title"
        "image_grid4"
        "image_grid5"
        "image_grid6"
        "last_title"
        "written_report";
    grid-template-columns: 1fr;
}

.image_grid{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.image_grid .image {
    width: 90%; 
    aspect-ratio: 2 / 1; 
    object-fit: cover;  
    border: #231942 2px solid;
}

.image_grid > a{
    display: flex;
    justify-content: center;
}



.written_report{
    display: grid;
    grid-template-areas:
        ". written_report_content .";
    grid-template-columns: 1fr 3fr 1fr;
}
