/* the following will make the dropdown menu disappear when we are on desktop */
.dropdown{
    display: none;
}

.list_of_pages ul{
    list-style-type: none;
    display: flex;
    justify-content: space-around;
}



/* this is for the grid layout */
.mainpage_body{
    display: grid;
    grid-template-areas:
    "header header header header" 
    "nav nav nav nav"
    ". aside main ."
    "footer footer footer footer";
    grid-template-columns: 1fr 1fr 2fr 1fr;
    grid-template-rows: 0.5fr 0.5fr 16fr 0.5fr;
}


/* now onto the project page */
/*  first we will look at the layout of this page */

.projects_body{
    display: grid;
    grid-template-areas:
    "header header" 
    "nav nav "
    "projects_aside projects_main"
    "footer footer ";
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 1fr 16fr 1fr;
}


.projects_image img{
    height: auto;
    max-width: 60%;
}
