* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
    width: 100%;
}

body {
    background-color: black;
    background-color: #e3e3e3de;
    overflow: auto;
    height: 100%;
}


/* header section for all the webpages */
header {
    font-size: 1.5em;
    color: hsl(349, 48%, 9%);
    text-align: center;
    grid-area: header;
    max-height: 2em;
}

nav {
    background-color: #231942;
    font-size: 2em;
    height: auto;
}

nav a {
    text-decoration: none;
    color: #9f86c0;
}

#menu_icon {
    background-color: #231942;
    color: #9f86c0;
}

.dropdown_content {
    position: absolute;
    min-width: 150px;
    box-shadow: 2px 2px 5px hsla(0, 0%, 0%, 0.438);
    display: none;
    flex-direction: column;
}

/* this section is for labelling the section in the grid layout */
.mainpage_aside {
    grid-area: aside;
    display: flex;
}

.mainpage_aside {
    flex-direction: column;
    height: 100%;
    justify-content: center;
}

nav {
    grid-area: nav;
}

main {
    grid-area: main;
    display: flex;
    flex-direction: column;
    height: 100%;
}

footer {
    grid-area: footer;
}

/* the following section is for the footer section */
footer {
    display: block;
    background-color: #231942;
    position: relative;
    bottom: 0;
    width: 100%;
    text-align: center;
    color: #9f86c0;
    font-size: 2em;
}

footer>a {
    color: #9f86c0;
    text-decoration: none;
    margin-right: 0.45em;
}

/* a bit more customisation on the index page before we move on */


.index_main {
    border-right: #231942 dotted 5px;
}

.mainpage_aside{   
    height: 100%;
    width: 100%;
}

#profile_picture{
    border-radius: 40px;
    max-width: 75%;
    min-width: 18em;
    height: auto;
}

.profile_container{
    width: 100%;
    display: flex;
    justify-content: space-around;
    text-align: center;
}
 
.tilt_element{
    width: 100%;
    align-items: center;
    transform-origin: bottom right;
    transition: transform 2s ease;
    width: 60%;
}

.profile_container:hover .tilt_element{
    transform: rotate(10deg);
}


.index_main {
    display: flex;
    flex-direction: column;
}


.index_main p{
    line-height: 1.6; /* This is to increase the readability of the content */
    font-family:Tahoma, Geneva, Verdana, sans-serif;
    border-left: #9f86c0 10px solid;
}

.index_main{
    height: 100vh;
}

.bigtext, .welcome {
    display: block; 
    margin-bottom: 1em; 
}

.bigtext{
    font-size: large;
}
.welcome{
    margin-top: 0.4em;
    font-weight: 900;
}

.index_main a{
    text-decoration: none;
    color: #231942;
}

.index_main{
    justify-content: center;
    align-items: center;
    text-align: center;
}







/* now onto the project page */

/* labelling the various grid elements */

.projects_element {
    grid-area: projects_element;
    border-bottom: #231942 dotted 2px;
}

.projects_image {
    grid-area: projects_image;
}

.projects_content{
    grid-area: projects_content;
}

.projects_aside {
    grid-area: projects_aside;
    border-right: #231942 dotted 5px;
}
.projects_main {
    grid-area: projects_main;
}