* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
    width: 100%;
}

body {
    background-color: black;
    background-color: #e3e3e3de;
    overflow: auto;
    height: 100%;
}


/* header section for all the webpages */
header {
    font-size: 1.5em;
    color: hsl(349, 48%, 9%);
    text-align: center;
    grid-area: header;
    max-height: 2em;
}

nav {
    background-color: #231942;
    font-size: 2em;
    height: auto;
}

nav a {
    text-decoration: none;
    color: #9f86c0;
}

#menu_icon {
    background-color: #231942;
    color: #9f86c0;
}

.dropdown_content {
    position: absolute;
    min-width: 150px;
    box-shadow: 2px 2px 5px hsla(0, 0%, 0%, 0.438);
    display: none;
    flex-direction: column;
}

/* this section is for labelling the section in the grid layout */
.mainpage_aside {
    grid-area: aside;
    display: flex;
}

.mainpage_aside {
    flex-direction: column;
    height: 100%;
    justify-content: center;
}

nav {
    grid-area: nav;
}

main {
    grid-area: main;
    display: flex;
    flex-direction: column;
    height: 100%;
}

footer {
    grid-area: footer;
}

/* the following section is for the footer section */
footer {
    display: block;
    background-color: #231942;
    position: relative;
    bottom: 0;
    width: 100%;
    text-align: center;
    color: #9f86c0;
    font-size: 2em;
}

footer>a {
    color: #9f86c0;
    text-decoration: none;
    margin-right: 0.45em;
}

/* a bit more customisation on the index page before we move on */




.mainpage_aside {
    height: 100%;
    width: 100%;
}

#profile_picture {
    border-radius: 40px;
    max-width: 75%;
    min-width: 18em;
    height: auto;
}

.profile_container {
    width: 100%;
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.tilt_element {
    width: 100%;
    align-items: center;
    transform-origin: bottom right;
    transition: transform 2s ease;
    width: 60%;
}

.profile_container:hover .tilt_element {
    transform: rotate(10deg);
}


.index_main {
    display: flex;
    flex-direction: column;
}


.index_main div {
    line-height: 1.6;
    /* This is to increase the readability of the content */
    font-family: Tahoma, Geneva, Verdana, sans-serif;
}



.bigtext,
.welcome {
    display: block;
    margin-bottom: 1em;
}

.bigtext {
    font-size: large;
}

.welcome {
    margin-top: 0.4em;
    font-weight: 900;
}

.index_main a {
    text-decoration: none;
    color:#231942;
    transition: color 250ms ease-in-out;
}
.index_main a:hover{
    color: #9f86c0;
    text-decoration: underline;
}


.index_main {
    justify-content: center;
    align-items: center;
    text-align: center;
}


/* now onto the project page */

/* labelling the various grid elements */

.projects_element {
    grid-area: projects_element;
    border-bottom: #231942 dotted 2px;
}

.projects_image {
    grid-area: projects_image;
}

.projects_content {
    grid-area: projects_content;
    font-family: 'Arial Narrow Bold';
}

.projects_aside {
    grid-area: projects_aside;
    border-right: #231942 dotted 5px;
}

.projects_main {
    grid-area: projects_main;
}

.italic {
    font-style: italic;
}


.contact_body {
    grid-area: contact_body;
}

.contact_aside {
    grid-area: contact_aside;
}

.contact_main {
    grid-area: contact_main;
}

.contact_main {
    border: #231942 15px double;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    text-align: center;
    height: calc(100% - 30px);
}

.contact_container div {
    padding-top: 1em;
}

#last_form_section input {
    padding: 1em;
    border-radius: 50px;
    margin-left: 1em;
}

/* labelling the grid layout parts */
.report_main{
    grid-area: report_main;
}

.first_title{
    grid-area: first_title;
}


.title_page:nth-of-type(2){
    grid-area: Mainpage_title;
}


body > main > div:nth-child(4){
    grid-area: Projectspage_title;

}


body > main > div:nth-child(6){
    grid-area: Contactspage_title;
}

body > main > div:nth-child(8){
    grid-area: Validation_title;
}


.image_grid .image:nth-of-type(1) {
    grid-area: image1;
}

.image_grid .image:nth-of-type(2) {
    grid-area: image2;
}

.image_grid .image:nth-of-type(3) {
    grid-area: image3;
}

.image_grid .image:nth-of-type(4) {
    grid-area: image4;
}

.image_grid .image:nth-of-type(5) {
    grid-area: image5;
}

.image_grid .image:nth-of-type(6) {
    grid-area: image6;
}

.image_grid .image:nth-of-type(7) {
    grid-area: image7;
}

.image_grid .image:nth-of-type(8) {
    grid-area: image8;
}

.image_grid .image:nth-of-type(9) {
    grid-area: image9;
}



.last_title{
    grid-area: last_title;
}

.written_report{
    grid-area: written_report;
}

body > main > div:nth-child(3){
    grid-area: image_grid1;
}

body > main > div:nth-child(5){
    grid-area: image_grid2;
}

body > main > div:nth-child(7){
    grid-area: image_grid3;
}

body > main > div:nth-child(9){
    grid-area: image_grid4;
}
body > main > div:nth-child(10){
    grid-area: image_grid5;

}
body > main > div:nth-child(11){
    grid-area: image_grid6;
}


.written_report_content{
    grid-area:written_report_content;
}




body > main > div:nth-child(11){
    border-bottom: #231942 10px dotted;
}


.title_page{
    text-align: center;
    font-size: 2em;
    border-top: #231942 10px double;
    border-bottom: #231942 10px double;
    margin-top: 1em;
    margin-bottom: 1em;
    padding: 0.3em;
}


.first_title , .last_title{
    text-align: center;
}

.first_title span , .last_title span{
    font-size: 3em;
    margin-top: 1em;
}


.first_title span{
    border: #231942 10px solid;

}


.written_report_content{
    border: #231942 3px ;
    border-style:dashed;
    border-radius: 30px;
    padding: 2em;
}
/* this is for the video page */

.video_main {
    display: flex;
    justify-content: center;
    align-items: center;
}
.video_main > iframe{
    width: 80%;
    height: auto;
    aspect-ratio: 16/9;
}