/* this section is for the dropdown menu */
.list_of_pages{
    display: none;
}

.dropdown_content a{
    display: block;
    color: #9f86c0;
    padding: 0.3em 0.75em;
    background-color: #231942;
    text-decoration: none;
}

/* the following will make the dropdown menu content appear when we hover over it */
.dropdown:hover + .dropdown_content ,.dropdown_content:hover{
    display: flex ;
}

.dropdown_content a:hover {
    background-color: #231942c4;
}

.dropdown{
    display: flex;
    justify-content: start;
    align-items: center;
}

.dropdown > #menucont{
    margin-left: 0.5em;
}
/* this is the grid layout for the mobile version for the index page*/
.mainpage_body{
    display: grid;
    grid-template-areas:
    "header header" 
    "nav nav"
    "aside aside"
    "main main"
    "footer footer";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.5fr 0.5fr 4fr 3fr 0.4fr;
}

.index_main{
    padding-left: 2em;
    padding-right: 2em;
}

.index_footer{
    padding-top: 0.4em;
}

.bigtext{
    display: table;
    width: 100%;
    padding-top: 1em;
    border-top: #9f86c0 10px solid;
}






/* now onto the project page */
/* we start by creating the grid layout */
.projects_body{
    display: grid;
    grid-template-areas:
    "header header header" 
    "nav nav nav"
    "project"
    "footer footer";
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 1fr 16fr 1fr;
}


/* this is the code for the responsive part for projects page */
.projects_body{
    grid-template-areas:
    "header " 
    "nav "
    "projects_main"
    " footer ";
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 16fr 1fr;
}

.projects_image{
    width: 100%;
    display: flex;
    justify-content: center;
}

.projects_image img{
    width: 100%;
}
.projects_content{
    margin-top: 5em;
    font-size: 1.9em;
    font-family:  'Arial Narrow Bold';
    padding-left: 2em;  
    padding-right: 2em ;   
}
.projects_content h2{
    padding-top: 0.3em;
    border-top: #9f86c0 10px solid;
}

.projects_element:nth-child(3) .projects_content{
    margin-top: 5em;
    margin-bottom: 3em;
}

.projects_element:nth-child(1) .projects_content,.projects_element:nth-child(2) .projects_content{
    padding-bottom: 2em;
    
}

